<a href="https://colab.research.google.com/github/DevondreShmurda/331-mini/blob/main/MiniProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: i need the informattion from this spreadheet to be put into the pandas data frame https://docs.google.com/spreadsheets/d/1mc72_VV6qVqg6RVoJQVGu5XY81QncEXIn0vGUo2zVs0/edit?gid=2060843025#gid=2060843025, USE THE PR-OR SHEET

from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()
gc = gspread.authorize(creds)

spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1mc72_VV6qVqg6RVoJQVGu5XY81QncEXIn0vGUo2zVs0/edit#gid=2060843025'
workbook = gc.open_by_url(spreadsheet_url)

worksheet = workbook.worksheet('PR-OR') # Access the 'PR-OR' sheet

# Get all values from the worksheet
rows = worksheet.get_all_values()

# Convert to a pandas DataFrame
import pandas as pd
df = pd.DataFrame.from_records(rows)

# Print the DataFrame
df

,0,1,2,3,4,5,6,7,8,9,10
0,,,,,,,,,,,
1,,,,,,,,,,,
2,,FIPS*,,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2020,Pop. 2023,Change 2020-23
3,,41000,,Oregon,,"2,842,337","3,421,524","3,831,083","4,237,279","4,233,358",-0.1%
4,,41001,,Baker,7,"15,317","16,742","16,138","16,671","16,912",1.4%
5,,41003,,Benton,3,"70,811","78,143","85,581","95,183","97,713",2.7%
6,,41005,,Clackamas,1,"278,850","338,407","375,991","421,398","423,173",0.4%
7,,41007,,Clatsop,4,"33,301","35,634","37,034","41,076","41,102",0.1%
8,,41009,,Columbia,1,"37,557","43,553","49,350","52,593","53,880",2.4%
9,,41011,,Coos,5,"60,273","62,795","63,055","64,933","64,212",-1.1%
10,,41013,,Crook,3,"14,111","19,175","20,978","24,738","26,952",8.9%
11,,41015,,Curry,7,"19,327","21,147","22,364","23,450","23,296",-0.7%
12,,41017,,Deschutes,3,"74,976","115,372","157,728","198,251","208,513",5.2%
13,,41019,,Douglas,4,"94,649","100,375","107,684","111,203","112,435",1.1%
14,,41021,,Gilliam,9,"1,717","1,910","1,871","1,996","2,026",1.5%
15,,41023,,Grant,9,"7,853","7,934","7,444","7,232","7,215",-0.2%
16,,41025,,Harney,9,"7,060","7,606","7,422","7,504","7,440",-0.9%
17,,41027,,Hood River,6,"16,903","20,407","22,346","23,980","23,745",-1.0%
18,,41029,,Jackson,3,"146,387","181,281","203,206","223,255","220,768",-1.1%
19,,41031,,Jefferson,3,"13,676","18,995","21,725","24,508","25,454",3.9%
20,,41033,,Josephine,3,"62,649","75,729","82,718","88,088","87,821",-0.3%
21,,41035,,Klamath,5,"57,702","63,771","66,383","69,419","70,003",0.8%
22,,41037,,Lake,9,"7,186","7,421","7,885","8,163","8,293",1.6%
23,,41039,,Lane,2,"282,912","323,011","351,705","382,983","381,181",-0.5%
24,,41041,,Lincoln,5,"38,889","44,481","46,033","50,399","50,821",0.8%
25,,41043,,Linn,3,"91,227","103,079","116,681","128,611","131,496",2.2%
26,,41045,,Malheur,6,"26,038","31,618","31,316","31,567","32,044",1.5%
27,,41047,,Marion,2,"228,483","284,844","315,342","345,910","346,741",0.2%
28,,41049,,Morrow,8,"7,625","10,995","11,175","12,186","12,302",1.0%
29,,41051,,Multnomah,1,"583,887","660,602","735,152","815,418","789,698",-3.2%
30,,41053,,Polk,2,"49,541","62,412","75,403","87,431","89,805",2.7%
31,,41055,,Sherman,9,"1,918","1,934","1,766","1,864","1,951",4.7%
32,,41057,,Tillamook,7,"21,570","24,264","25,244","27,386","27,417",0.1%
33,,41059,,Umatilla,4,"59,249","70,556","75,887","80,083","80,053",0.0%
34,,41061,,Union,7,"23,598","24,522","25,737","26,200","25,944",-1.0%
35,,41063,,Wallowa,9,"6,911","7,230","7,008","7,392","7,674",3.8%
36,,41065,,Wasco,7,"21,683","23,797","25,211","26,670","26,333",-1.3%
37,,41067,,Washington,1,"311,554","445,256","529,865","600,369","598,865",-0.3%
38,,41069,,Wheeler,9,"1,396","1,551","1,441","1,443","1,436",-0.5%
39,,41071,,Yamhill,1,"65,551","84,975","99,214","107,726","108,644",0.9%

In [ ]:
# prompt: can you eliminate the 0 and 1 row

from google.colab import auth
import gspread
from google.auth import default
import pandas as pd

auth.authenticate_user()

creds, _ = default()
gc = gspread.authorize(creds)

spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1mc72_VV6qVqg6RVoJQVGu5XY81QncEXIn0vGUo2zVs0/edit#gid=2060843025'
workbook = gc.open_by_url(spreadsheet_url)

worksheet = workbook.worksheet('PR-OR') # Access the 'PR-OR' sheet

# Get all values from the worksheet
rows = worksheet.get_all_values()

# Convert to a pandas DataFrame
df = pd.DataFrame.from_records(rows)

# Eliminate rows 0 and 1
df = df.drop([0, 1])

# Print the DataFrame
df

,0,1,2,3,4,5,6,7,8,9,10
2,,FIPS*,,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2020,Pop. 2023,Change 2020-23
3,,41000,,Oregon,,"2,842,337","3,421,524","3,831,083","4,237,279","4,233,358",-0.1%
4,,41001,,Baker,7,"15,317","16,742","16,138","16,671","16,912",1.4%
5,,41003,,Benton,3,"70,811","78,143","85,581","95,183","97,713",2.7%
6,,41005,,Clackamas,1,"278,850","338,407","375,991","421,398","423,173",0.4%
7,,41007,,Clatsop,4,"33,301","35,634","37,034","41,076","41,102",0.1%
8,,41009,,Columbia,1,"37,557","43,553","49,350","52,593","53,880",2.4%
9,,41011,,Coos,5,"60,273","62,795","63,055","64,933","64,212",-1.1%
10,,41013,,Crook,3,"14,111","19,175","20,978","24,738","26,952",8.9%
11,,41015,,Curry,7,"19,327","21,147","22,364","23,450","23,296",-0.7%
12,,41017,,Deschutes,3,"74,976","115,372","157,728","198,251","208,513",5.2%
13,,41019,,Douglas,4,"94,649","100,375","107,684","111,203","112,435",1.1%
14,,41021,,Gilliam,9,"1,717","1,910","1,871","1,996","2,026",1.5%
15,,41023,,Grant,9,"7,853","7,934","7,444","7,232","7,215",-0.2%
16,,41025,,Harney,9,"7,060","7,606","7,422","7,504","7,440",-0.9%
17,,41027,,Hood River,6,"16,903","20,407","22,346","23,980","23,745",-1.0%
18,,41029,,Jackson,3,"146,387","181,281","203,206","223,255","220,768",-1.1%
19,,41031,,Jefferson,3,"13,676","18,995","21,725","24,508","25,454",3.9%
20,,41033,,Josephine,3,"62,649","75,729","82,718","88,088","87,821",-0.3%
21,,41035,,Klamath,5,"57,702","63,771","66,383","69,419","70,003",0.8%
22,,41037,,Lake,9,"7,186","7,421","7,885","8,163","8,293",1.6%
23,,41039,,Lane,2,"282,912","323,011","351,705","382,983","381,181",-0.5%
24,,41041,,Lincoln,5,"38,889","44,481","46,033","50,399","50,821",0.8%
25,,41043,,Linn,3,"91,227","103,079","116,681","128,611","131,496",2.2%
26,,41045,,Malheur,6,"26,038","31,618","31,316","31,567","32,044",1.5%
27,,41047,,Marion,2,"228,483","284,844","315,342","345,910","346,741",0.2%
28,,41049,,Morrow,8,"7,625","10,995","11,175","12,186","12,302",1.0%
29,,41051,,Multnomah,1,"583,887","660,602","735,152","815,418","789,698",-3.2%
30,,41053,,Polk,2,"49,541","62,412","75,403","87,431","89,805",2.7%
31,,41055,,Sherman,9,"1,918","1,934","1,766","1,864","1,951",4.7%
32,,41057,,Tillamook,7,"21,570","24,264","25,244","27,386","27,417",0.1%
33,,41059,,Umatilla,4,"59,249","70,556","75,887","80,083","80,053",0.0%
34,,41061,,Union,7,"23,598","24,522","25,737","26,200","25,944",-1.0%
35,,41063,,Wallowa,9,"6,911","7,230","7,008","7,392","7,674",3.8%
36,,41065,,Wasco,7,"21,683","23,797","25,211","26,670","26,333",-1.3%
37,,41067,,Washington,1,"311,554","445,256","529,865","600,369","598,865",-0.3%
38,,41069,,Wheeler,9,"1,396","1,551","1,441","1,443","1,436",-0.5%
39,,41071,,Yamhill,1,"65,551","84,975","99,214","107,726","108,644",0.9%

In [ ]:
# prompt: can we make the column names, the line of row 2

from google.colab import auth
import gspread
from google.auth import default
import pandas as pd

auth.authenticate_user()

creds, _ = default()
gc = gspread.authorize(creds)

spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1mc72_VV6qVqg6RVoJQVGu5XY81QncEXIn0vGUo2zVs0/edit#gid=2060843025'
workbook = gc.open_by_url(spreadsheet_url)

worksheet = workbook.worksheet('PR-OR') # Access the 'PR-OR' sheet

# Get all values from the worksheet
rows = worksheet.get_all_values()

# Convert to a pandas DataFrame
df = pd.DataFrame.from_records(rows)

# Set the second row as the header
df.columns = df.iloc[1]

# Eliminate rows 0 and 1
df = df.drop([0, 1])

# Print the DataFrame
df

1,,,,,,,,,,,
2,,FIPS*,,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2020,Pop. 2023,Change 2020-23
3,,41000,,Oregon,,"2,842,337","3,421,524","3,831,083","4,237,279","4,233,358",-0.1%
4,,41001,,Baker,7,"15,317","16,742","16,138","16,671","16,912",1.4%
5,,41003,,Benton,3,"70,811","78,143","85,581","95,183","97,713",2.7%
6,,41005,,Clackamas,1,"278,850","338,407","375,991","421,398","423,173",0.4%
7,,41007,,Clatsop,4,"33,301","35,634","37,034","41,076","41,102",0.1%
8,,41009,,Columbia,1,"37,557","43,553","49,350","52,593","53,880",2.4%
9,,41011,,Coos,5,"60,273","62,795","63,055","64,933","64,212",-1.1%
10,,41013,,Crook,3,"14,111","19,175","20,978","24,738","26,952",8.9%
11,,41015,,Curry,7,"19,327","21,147","22,364","23,450","23,296",-0.7%
12,,41017,,Deschutes,3,"74,976","115,372","157,728","198,251","208,513",5.2%
13,,41019,,Douglas,4,"94,649","100,375","107,684","111,203","112,435",1.1%
14,,41021,,Gilliam,9,"1,717","1,910","1,871","1,996","2,026",1.5%
15,,41023,,Grant,9,"7,853","7,934","7,444","7,232","7,215",-0.2%
16,,41025,,Harney,9,"7,060","7,606","7,422","7,504","7,440",-0.9%
17,,41027,,Hood River,6,"16,903","20,407","22,346","23,980","23,745",-1.0%
18,,41029,,Jackson,3,"146,387","181,281","203,206","223,255","220,768",-1.1%
19,,41031,,Jefferson,3,"13,676","18,995","21,725","24,508","25,454",3.9%
20,,41033,,Josephine,3,"62,649","75,729","82,718","88,088","87,821",-0.3%
21,,41035,,Klamath,5,"57,702","63,771","66,383","69,419","70,003",0.8%
22,,41037,,Lake,9,"7,186","7,421","7,885","8,163","8,293",1.6%
23,,41039,,Lane,2,"282,912","323,011","351,705","382,983","381,181",-0.5%
24,,41041,,Lincoln,5,"38,889","44,481","46,033","50,399","50,821",0.8%
25,,41043,,Linn,3,"91,227","103,079","116,681","128,611","131,496",2.2%
26,,41045,,Malheur,6,"26,038","31,618","31,316","31,567","32,044",1.5%
27,,41047,,Marion,2,"228,483","284,844","315,342","345,910","346,741",0.2%
28,,41049,,Morrow,8,"7,625","10,995","11,175","12,186","12,302",1.0%
29,,41051,,Multnomah,1,"583,887","660,602","735,152","815,418","789,698",-3.2%
30,,41053,,Polk,2,"49,541","62,412","75,403","87,431","89,805",2.7%
31,,41055,,Sherman,9,"1,918","1,934","1,766","1,864","1,951",4.7%
32,,41057,,Tillamook,7,"21,570","24,264","25,244","27,386","27,417",0.1%
33,,41059,,Umatilla,4,"59,249","70,556","75,887","80,083","80,053",0.0%
34,,41061,,Union,7,"23,598","24,522","25,737","26,200","25,944",-1.0%
35,,41063,,Wallowa,9,"6,911","7,230","7,008","7,392","7,674",3.8%
36,,41065,,Wasco,7,"21,683","23,797","25,211","26,670","26,333",-1.3%
37,,41067,,Washington,1,"311,554","445,256","529,865","600,369","598,865",-0.3%
38,,41069,,Wheeler,9,"1,396","1,551","1,441","1,443","1,436",-0.5%
39,,41071,,Yamhill,1,"65,551","84,975","99,214","107,726","108,644",0.9%

In [ ]:
# prompt: can we create a new data frame called regression data where we add columns for AGTOURISMREV2017, AGTOURISMREV2022, FARMCLOSURES, all of these columsn will be blank

regression_data = df.copy()

# Add new columns with empty values
regression_data['AGTOURISMREV2017'] = ''
regression_data['AGTOURISMREV2022'] = ''
regression_data['FARMCLOSURES'] = ''

regression_data

1,,,,,,,,,,,,AGTOURISMREV2017,AGTOURISMREV2022,FARMCLOSURES
2,,FIPS*,,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2020,Pop. 2023,Change 2020-23,,,
3,,41000,,Oregon,,"2,842,337","3,421,524","3,831,083","4,237,279","4,233,358",-0.1%,,,
4,,41001,,Baker,7,"15,317","16,742","16,138","16,671","16,912",1.4%,,,
5,,41003,,Benton,3,"70,811","78,143","85,581","95,183","97,713",2.7%,,,
6,,41005,,Clackamas,1,"278,850","338,407","375,991","421,398","423,173",0.4%,,,
7,,41007,,Clatsop,4,"33,301","35,634","37,034","41,076","41,102",0.1%,,,
8,,41009,,Columbia,1,"37,557","43,553","49,350","52,593","53,880",2.4%,,,
9,,41011,,Coos,5,"60,273","62,795","63,055","64,933","64,212",-1.1%,,,
10,,41013,,Crook,3,"14,111","19,175","20,978","24,738","26,952",8.9%,,,
11,,41015,,Curry,7,"19,327","21,147","22,364","23,450","23,296",-0.7%,,,
12,,41017,,Deschutes,3,"74,976","115,372","157,728","198,251","208,513",5.2%,,,
13,,41019,,Douglas,4,"94,649","100,375","107,684","111,203","112,435",1.1%,,,
14,,41021,,Gilliam,9,"1,717","1,910","1,871","1,996","2,026",1.5%,,,
15,,41023,,Grant,9,"7,853","7,934","7,444","7,232","7,215",-0.2%,,,
16,,41025,,Harney,9,"7,060","7,606","7,422","7,504","7,440",-0.9%,,,
17,,41027,,Hood River,6,"16,903","20,407","22,346","23,980","23,745",-1.0%,,,
18,,41029,,Jackson,3,"146,387","181,281","203,206","223,255","220,768",-1.1%,,,
19,,41031,,Jefferson,3,"13,676","18,995","21,725","24,508","25,454",3.9%,,,
20,,41033,,Josephine,3,"62,649","75,729","82,718","88,088","87,821",-0.3%,,,
21,,41035,,Klamath,5,"57,702","63,771","66,383","69,419","70,003",0.8%,,,
22,,41037,,Lake,9,"7,186","7,421","7,885","8,163","8,293",1.6%,,,
23,,41039,,Lane,2,"282,912","323,011","351,705","382,983","381,181",-0.5%,,,
24,,41041,,Lincoln,5,"38,889","44,481","46,033","50,399","50,821",0.8%,,,
25,,41043,,Linn,3,"91,227","103,079","116,681","128,611","131,496",2.2%,,,
26,,41045,,Malheur,6,"26,038","31,618","31,316","31,567","32,044",1.5%,,,
27,,41047,,Marion,2,"228,483","284,844","315,342","345,910","346,741",0.2%,,,
28,,41049,,Morrow,8,"7,625","10,995","11,175","12,186","12,302",1.0%,,,
29,,41051,,Multnomah,1,"583,887","660,602","735,152","815,418","789,698",-3.2%,,,
30,,41053,,Polk,2,"49,541","62,412","75,403","87,431","89,805",2.7%,,,
31,,41055,,Sherman,9,"1,918","1,934","1,766","1,864","1,951",4.7%,,,
32,,41057,,Tillamook,7,"21,570","24,264","25,244","27,386","27,417",0.1%,,,
33,,41059,,Umatilla,4,"59,249","70,556","75,887","80,083","80,053",0.0%,,,
34,,41061,,Union,7,"23,598","24,522","25,737","26,200","25,944",-1.0%,,,
35,,41063,,Wallowa,9,"6,911","7,230","7,008","7,392","7,674",3.8%,,,
36,,41065,,Wasco,7,"21,683","23,797","25,211","26,670","26,333",-1.3%,,,
37,,41067,,Washington,1,"311,554","445,256","529,865","600,369","598,865",-0.3%,,,
38,,41069,,Wheeler,9,"1,396","1,551","1,441","1,443","1,436",-0.5%,,,
39,,41071,,Yamhill,1,"65,551","84,975","99,214","107,726","108,644",0.9%,,,